{% if post %}
  <div class="post-body" id="post_body_{{ post.id }}">
    {% if post.url.current_page? %}
      {{ post.body }}
    {% else %}
      {{ post.excerpt_or_body }}
    {% endif %}
  </div>
{% endif %}
